* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Source Code Pro;
}

body {
    /* background-image: url(""); */
    background-size: 100%;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
    font-family: Source Code Pro;
    color: black;
}

h3 {
    margin: 0;
    font-family: Maven Pro;
}

