* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Maven Pro;
}

html, body {
    height: 100%
}

#mainContainer {
    background-image: url("https://cdn.pixabay.com/photo/2017/11/11/18/31/music-player-2939936_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
}

#headerContainer {
    background-color: rgb(54, 54, 52);
    height: 12%;
    margin-bottom: 25px;
}

#header h1 {
    font-family: Share Tech;
    font-size: 50px;
    color: rgb(245, 243, 239);
    text-shadow: 2px 2px #000000
}

h2, h4 {
    margin-top: 0;
    font-family: Play;
}

#searchField {
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 20px;
    background-color: rgba(137, 136, 132, 0.5)
}

 #inputArtist {
    height: 50px;
    font-size: 20px;
}

#inputSong {
    height: 50px;
    font-size: 20px;
} 

#searchButton {
    margin: 1rem 0 0 0;
    font-family: Play
}

#resultsField {
    margin: 3rem 0 0 0
}

.addToPlaylist {
    font-family: Play
}

#playlistField * {
    display: inline;
}

#inputPlaylist {
    width: 40%
}

#playlist-custom {
    margin: 1rem auto 0 auto;
    /* width: 80%; */
}

#sendEmailButton {
    font-family: Play;
    margin-top: 10px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-style: italic;
}